.placement{
    display: inline-flex;
    padding: 10%;
}

body{
    background-color: black;
}
.gauche{
    color: white;
    background-color: #494E5F;
    padding: 2%;
    font-family: 'Anton', sans-serif;
}
.droit{
    color: black;
    background-color: white;
    padding: 2%;
    font-family: 'Anton', sans-serif;
}
.titreg{
    color: #FFDE59;
}
.titred{
    color: #5271FF;
}
@media screen and (max-width:720px) {
    .placement{
        flex-direction: column;
        margin: 10%;
    }
}
